body{
  background-color: antiquewhite;
}
.Header{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
 
}
img{
  border-radius: 10px;
  height: 50px;
  width: 50px;
  margin-top: 5px;
  margin-left: 470px;
}
.Matter{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  
}
p{
  text-align: start;

}
#text{
  margin-top: 40px;
}

.ludo{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}
.input{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-control.error input {
  border:red;
}
.button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
#theme{

  border-radius: 5px;
  background-color: green;
  color: #fff;
  
  margin-left: 400px;
}
.redBg{
  background-color: red;
}
@media (max-width:1023px){
  .ludo{
    display: flex;
    flex-direction: row;
  }
}